/*********************
NAVIGATION STYLES
*********************/
.top-bar {
  .title-area {
    z-index: 1;
  }
}

.off-canvas-list {
  ul {
    margin-left: 0;
    li {
      a {
        border-bottom: 0px;
      }
    }
    .dropdown {
      margin-left: 20px;
    }
  }
}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem;
}